@import "../src/global_styles/global-colours.scss";
@import "../src/global_styles/global-responsive.scss";

.app 
{
  margin:  0;
  padding: 0;

  height: 100vh;
  width: 100vw;
  //box-sizing: border-box;
  
  overflow: hidden;

  //Foreground Component
  .FG-container
  {
    //Sizing
    height: 100vh;
    width: 100vw;
    
    position: relative;
    top: 0;
  }

  //Background Component
  .BG-container
  {

    position: relative;
    top: -140%;

    padding: 50px 0px;
    bottom: 110%;
    z-index: 0;

    height: inherit;
    width: inherit;
    //background: linear-gradient($dayColour, $dayColourGradient);

    z-index: -1;
  }


  @media all and ( max-width: $mobileWidth) 
  {
    flex-direction: column;  
  }
}