
//Background Colouring based on weather forecast
$dayColour: rgb(176, 246, 255);
$dayColourGradient: rgb(22, 169, 255);

$nightColour: rgb(98, 0, 255);
$cloudyColour: rgb(131, 131, 131);

$backgroundColour: black;